<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-black text-on-primary">
        <div class="text-lg font-medium">New Message</div>
        <button
            mat-icon-button
            (click)="saveAndClose()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <form
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
        [formGroup]="composeForm">

        <!-- To -->
        <mat-form-field>
            <mat-label>To</mat-label>
            <input
                matInput
                [formControlName]="'to'">
            <div
                class="copy-fields-toggles"
                matSuffix>
            </div>
        </mat-form-field>

        <!-- Subject -->
        <mat-form-field>
            <mat-label>Subject</mat-label>
            <input
                matInput
                [formControlName]="'subject'">
        </mat-form-field>

        <!-- Body -->
        <quill-editor
            class="mt-2"
            [formControlName]="'body'"
            [bounds]="'self'"
            [modules]="quillModules"></quill-editor>

        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
            <div class="-ml-2">
            </div>
            <div class="flex items-center mt-4 sm:mt-0">
                <!-- Discard -->
                <button
                    class="ml-auto sm:ml-0 mr-2"
                    mat-stroked-button
                    (click)="discard()">
                    Discard
                </button>
                <!-- Send -->
                <button
                    class="order-first sm:order-last"
                    mat-flat-button
                    style="background-color: #020202; color: white;"
                    (click)="send()">
                    Send
                </button>
            </div>
        </div>
    </form>
</div>
