<div class="max-w-full mb-12  rounded-2xl shadow bg-card">
    <div class="flex items-center">
        <!-- Header -->
        <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-2xl font-extrabold tracking-tight mb-4">Best competitors submissions results</div>
        </div>

        <!-- Search Field -->
        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full min-w-50 pr-10" subscriptSizing="dynamic">
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
            <input matInput (input)="onSearch(competitionId,query.value)" [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search condidats'" #query>
        </mat-form-field>
    </div>


    <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
        <!-- Search -->

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container >
                <ng-container >
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-gray-600 bg-red-50 dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear>
                            <div></div>
                            <div
                                class="hidden md:block"
                                [mat-sort-header]="'result'">
                                Candidat
                            </div>
                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'checker_output'">
                                checker output
                            </div>
                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'submitted_at'">
                                Submitted at
                            </div>

                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'attempt_number'">
                                Rank
                            </div>


                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="leaderBoard as results ; else noSubmissions" >
                            <ng-container *ngFor="let result of leaderBoard">
                                <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                    <!-- Image -->
                                    <div class="flex items-center">
                                        <div class="relative flex flex-0 items-center justify-center w-12 h-12 mr-6 rounded overflow-hidden border">
                                            <img
                                                class="w-8"
                                                *ngIf="result.image"
                                                [alt]="'result thumbnail image'"
                                                [src]="result.image">
                                            <div
                                                class="flex items-center justify-center w-full h-full text-xs font-semibold leading-none text-center uppercase"
                                                *ngIf="!result.image">
                                                NO THUMB
                                            </div>
                                        </div>
                                    </div>

                                    <div class=" truncate">
                                        {{result.firstName}}  {{result.lastName}}
                                    </div>

                                    <div class="truncate">
                                        {{result.best_submission.formatted_output}}
                                    </div>


                                    <div class=" lg:flex items-center">
                                        <div class="min-w-4">     {{result.best_submission.formatted_date}}
                                        </div>
                                    </div>
                                    <div>
                                        <div class="min-w-4">{{result.rank}}</div>

                                    </div>


                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <mat-paginator
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        [length]="pagination.length"
                        [pageIndex]="pagination.page"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"
                        (page)="handlePageEvent($event)">
                    </mat-paginator>



                </ng-container>
            </ng-container>
            <ng-template #noSubmissions>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no submissions yet!</div>
            </ng-template>

        </div>

    </div>
</div>



