<div class="max-w-full mb-12  rounded-2xl shadow bg-card">
    <div class="flex items-center">
        <!-- Header -->
        <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-2xl font-extrabold tracking-tight mb-4">Condidats results</div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container >
                <ng-container >
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-gray-600 bg-red-50 dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear>
                            <div></div>
                            <div
                                class="hidden md:block"
                                [mat-sort-header]="'condidat'">
                                Condidat
                            </div>
                            <div [mat-sort-header]="'solution_description'">Solution description</div>
                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'checker_output'">
                                checker output
                            </div>
                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'submitted_at'">
                                Submitted at
                            </div>

                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'attempt_number'">
                                Rank
                            </div>


                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(products$ | async) as products">
                            <ng-container *ngFor="let product of products">
                                <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                    <!-- Image -->
                                    <div class="flex items-center">
                                        <div class="relative flex flex-0 items-center justify-center w-12 h-12 mr-6 rounded overflow-hidden border">
                                            <img
                                                class="w-8"
                                                *ngIf="product.thumbnail"
                                                [alt]="'Product thumbnail image'"
                                                [src]="product.thumbnail">
                                            <div
                                                class="flex items-center justify-center w-full h-full text-xs font-semibold leading-none text-center uppercase"
                                                *ngIf="!product.thumbnail">
                                                NO THUMB
                                            </div>
                                        </div>
                                    </div>

                                    <!-- SKU -->
                                    <div class="hidden md:block truncate">
                                        {{product.sku}}
                                    </div>

                                    <!-- Name -->
                                    <div class="truncate">
                                        {{product.name}}
                                    </div>

                                    <!-- Price -->
                                    <div class="hidden sm:block">
                                        {{product.price | currency:'USD':'symbol':'1.2-2'}}
                                    </div>

                                    <!-- Stock -->
                                    <div class="hidden lg:flex items-center">
                                        <div class="min-w-4">{{product.stock}}</div>
                                        <!-- Low stock -->
                                        <div
                                            class="flex items-end ml-2 w-1 h-4 bg-red-200 rounded overflow-hidden"
                                            *ngIf="product.stock < 20">
                                            <div class="flex w-full h-1/3 bg-red-600"></div>
                                        </div>
                                        <!-- Medium stock -->
                                        <div
                                            class="flex items-end ml-2 w-1 h-4 bg-orange-200 rounded overflow-hidden"
                                            *ngIf="product.stock >= 20 && product.stock < 30">
                                            <div class="flex w-full h-2/4 bg-orange-400"></div>
                                        </div>
                                        <!-- High stock -->
                                        <div
                                            class="flex items-end ml-2 w-1 h-4 bg-green-100 rounded overflow-hidden"
                                            *ngIf="product.stock >= 30">
                                            <div class="flex w-full h-full bg-green-400"></div>
                                        </div>
                                    </div>

                                    <!-- Active -->
                                    <div class="hidden lg:block">
                                        <ng-container *ngIf="product.active">
                                            <mat-icon
                                                class="text-green-400 icon-size-5"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                        </ng-container>
                                        <ng-container *ngIf="!product.active">
                                            <mat-icon
                                                class="text-gray-400 icon-size-5"
                                                [svgIcon]="'heroicons_solid:x-mark'"></mat-icon>
                                        </ng-container>
                                    </div>

                                    <!-- Details button -->
                                    <div>
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                            mat-stroked-button
                                            (click)="toggleDetails(product.id)">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="selectedProduct?.id === product.id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="grid">
                                    <ng-container *ngIf="selectedProduct?.id === product.id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: product}"></ng-container>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <mat-paginator
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        [length]="pagination.length"
                        [pageIndex]="pagination.page"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"></mat-paginator>

                </ng-container>
            </ng-container>
            <ng-template #noProducts>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no condidats wainting approval yet!</div>
            </ng-template>

        </div>

    </div>
</div>



