<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0 m-10">
    <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="w-full max-w-180 sm:w-180 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-30 flex justify-center items-center mx-auto">
                <img src="assets/icons/redx.png" class="mx-auto">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Sign up</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Already have an account?</div>
                <a class="ml-1 text-red-600 hover:underline" [routerLink]="['/sign-in']">
                    Sign in
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert class="mt-8" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type">
                {{ alert.message }}
            </fuse-alert>

            <!-- Sign Up form -->
            <form class="mt-8" [formGroup]="signUpForm">

                <!-- First Name field -->
                <div class="flex flex-wrap">
                    <div class="w-full sm:w-1/2 pr-2">
                        <mat-form-field class="w-full">
                            <mat-label>First Name</mat-label>
                            <input id="firstName" matInput [formControlName]="'firstName'">
                            <mat-error *ngIf="signUpForm.get('firstName').hasError('required')">First name is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:w-1/2 pl-2">
                        <mat-form-field class="w-full">
                            <mat-label>Last Name</mat-label>
                            <input id="lastName" matInput [formControlName]="'lastName'">
                            <mat-error *ngIf="signUpForm.get('lastName').hasError('required')">Last name is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input id="email" matInput [formControlName]="'email'">
                    <mat-error *ngIf="signUpForm.get('email').hasError('required')">Email address is required</mat-error>
                    <mat-error *ngIf="signUpForm.get('email').hasError('email')">Please enter a valid email address</mat-error>
                </mat-form-field>

                <!-- Mobile Phone field -->

                <div class="flex flex-wrap">
                    <div class="w-full sm:w-1/2 pr-2">
                        <mat-form-field class="w-full">
                            <mat-label>Mobile Phone</mat-label>
                            <input id="mobilePhone" matInput [formControlName]="'mobile_phone'">
                            <mat-error *ngIf="signUpForm.get('mobile_phone').hasError('required')">Mobile phone is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:w-1/2 pl-2">
                        <mat-form-field
                            class="w-full">
                            <mat-label>Birthdate</mat-label>
                            <input id="birthdate"
                                   matInput
                                   [formControlName]="'birthdate'"
                                   [matDatepicker]="picker2"
                            >
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <mat-error *ngIf="signUpForm.get('birthdate').hasError('required')">Birthdate is required</mat-error>

                        </mat-form-field>
                    </div>
                </div>

                <!-- Biography field -->
                <mat-form-field class="w-full">
                    <mat-label>Biography</mat-label>
                    <textarea id="biography" matInput [formControlName]="'biography'"></textarea>
                </mat-form-field>


                <div class="flex flex-wrap">
                    <div class="w-full sm:w-1/2 pr-2">
                        <mat-form-field class="w-full">
                            <mat-label>Gender</mat-label>
                            <mat-select id="gender" formControlName="gender">
                                <mat-option value="male">Male</mat-option>
                                <mat-option value="female">Female</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:w-1/2 pl-2">
                        <mat-form-field class="w-full">
                            <mat-label>Password</mat-label>
                            <input
                                id="password"
                                matInput
                                type="password"
                                [formControlName]="'password'"
                                #passwordField>
                            <button
                                mat-icon-button
                                type="button"
                                (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                                matSuffix>
                                <mat-icon
                                    class="icon-size-5"
                                    *ngIf="passwordField.type === 'password'"
                                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                <mat-icon
                                    class="icon-size-5"
                                    *ngIf="passwordField.type === 'text'"
                                    [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                            </button>
                            <mat-error>
                                Password is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-col items-start w-full mt-4 p-2 rounded-2xl shadow overflow-hidden bg-card border-2 border-dashed border-gray-300 dark:border-gray-600">
                    <div class="flex">
                        <input
                            id="file-input"
                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                            type="file"
                            accept="image/*"
                            (change)="onImageSelected($event)"
                            #fileInput
                        >
                        <label class="flex-auto" for="file-input">
                            <div class="flex items-center justify-center w-full h-10 rounded-md cursor-pointer dark:bg-gray-700 dark:hover:bg-gray-600">
                                <mat-icon class="mr-2" svgIcon="ads_click"></mat-icon>
                                <span class="ml-4" *ngIf="!image">Please upload your image file here</span>
                                <img class="ml-4" style="width: 80px ; height: 75px" *ngIf="image" [src]="image" alt="Selected Image">
                            </div>
                        </label>
                    </div>
                </div>



                <div class="flex items-center mt-4">
                    <mat-radio-group formControlName="role">
                        <mat-radio-button value="customer">Customer</mat-radio-button>
                        <mat-radio-button value="competitor">Competitor</mat-radio-button>
                    </mat-radio-group>
                </div>

                <!-- Customer fields -->
                <div class="mt-4" *ngIf="signUpForm.get('role').value === 'customer'">
                    <!-- Address field -->
                    <mat-form-field class="w-full">
                        <mat-label>Address</mat-label>
                        <input id="address" matInput [formControlName]="'address'">
                        <mat-error *ngIf="signUpForm.get('role').value === 'customer'&& signUpForm.get('address').hasError('required')">Address is required</mat-error>
                    </mat-form-field>

                    <!-- Organization Name field -->
                    <mat-form-field class="w-full">
                        <mat-label>Organization Name</mat-label>
                        <input id="organizationName" matInput [formControlName]="'organization_name'">
                        <mat-error *ngIf="signUpForm.get('role').value === 'customer'&& signUpForm.get('organization_name').hasError('required')">Organization name is required</mat-error>
                    </mat-form-field>

                    <!-- Occupation field -->
                    <mat-form-field class="w-full">
                        <mat-label>Occupation</mat-label>
                        <input id="occupation" matInput [formControlName]="'occupation'">
                        <mat-error *ngIf="signUpForm.get('role').value === 'customer'&& signUpForm.get('occupation').hasError('required')">Occupation is required</mat-error>
                    </mat-form-field>
                </div>

                <!-- Competitor fields -->
                <div class="mt-4" *ngIf="signUpForm.get('role').value === 'competitor'">
                    <!-- Skills field -->
                    <mat-form-field class="w-full">
                        <mat-label>Skills</mat-label>
                        <textarea id="skills" matInput [formControlName]="'skills'"></textarea>
                        <mat-error *ngIf="signUpForm.get('role').value === 'competitor'&& signUpForm.get('skills').hasError('required')">skills are required</mat-error>

                    </mat-form-field>

                    <div class="flex flex-col items-start w-full mt-4 p-2 rounded-2xl shadow overflow-hidden bg-card border-2 border-dashed border-gray-300 dark:border-gray-600">
                        <input
                            id="cv-input"
                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                            type="file"
                            accept=".doc,.docx,.pdf"
                            (change)="onCVSelected($event)"
                            #fileInput
                            required
                        >
                        <label class="flex-auto" for="cv-input">
                            <div class="flex items-center justify-center w-full h-10 rounded-md cursor-pointer dark:bg-gray-700 dark:hover:bg-gray-600">
                                <mat-icon class="mr-2" svgIcon="ads_click"></mat-icon>
                                <span class="ml-4">{{ cvFileName ? cvFileName : 'Please upload your CV here' }}</span>
                            </div>
                        </label>
                    </div>


                </div>

                <!-- Submit button -->
                <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'" [disabled]="signUpForm.disabled" (click)="signUp()">
                    <span *ngIf="!signUpForm.disabled">Create your free account</span>
                    <mat-progress-spinner *ngIf="signUpForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

            </form>
        </div>
    </div>
</div>
